#secondSection h4 {
   font-weight: 900;
   margin:0 0 1rem 0;
   text-align: center;
}

/* .gallery-item {
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
} */

/* .gallery-item:hover {
    transform: translateY(-7px);
  
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
} */
  


@media screen and (max-width:820px){

    #secondSection h4 {
        margin:70px 0 0 0;
        text-align: center;
    }
}