/* Estilos para las categorías */
.categoria_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.categoria {
    width: 300px;
    height: 300px;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(253, 149, 229);
    transition: all 0.3s ease-in;
}
.categoria:hover {
    box-shadow: 4px 13px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.025, 1.025)
}

.categoria h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 900;
    font-style: italic;
}

.categoria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* end */


@media screen and (max-width:820px){

    .categoria {
        margin: 10px 0;
        padding: 20px;
    }
}

