* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
li {
    list-style: none;
}

/* css */
#dividerSecondSection
{
    display: none;
}

@media screen and (max-width: 820px) {
    
    .reverseInMobile
    {
        display: flex;
        flex-direction: column-reverse;
    }
   
    #secondSection
    {
        position: relative;
    }

    .carousel-root
    {
        margin-top: 30px;

    }

    #dividerFirstSection
    {
        display: none;
    }
    #dividerSecondSection
    {
        display: block;
    }
}